<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771460883909-2qu6gp6jr8tatemtfa6joi2brod9skss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771460883909-2qu6gp6jr8tatemtfa6joi2brod9skss</string>
	<key>API_KEY</key>
	<string>AIzaSyAZR0xk5lEOwRnSwQTVxA7rjxq3W3Lnc5U</string>
	<key>GCM_SENDER_ID</key>
	<string>771460883909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vandyhacks.medication-tracker</string>
	<key>PROJECT_ID</key>
	<string>medication-tracker-9d09f</string>
	<key>STORAGE_BUCKET</key>
	<string>medication-tracker-9d09f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771460883909:ios:621ec31127d372ed6d17ac</string>
</dict>
</plist>